<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="connectString" connectionString="XpoProvider=MSSqlServer;data source=LUAN-IT\GPM;user id=sa;password=02101995;initial catalog=gpm_codeCaFeMienPhi;Persist Security Info=true" />
    </connectionStrings>
</configuration>